*{
    margin: 0;
    padding: 0;
}
.logo-photo{
    width: 120px;
   
}

.menu-container{
    background-color: rgb(67, 63, 63);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    list-style: none;
    display: flex;
}
.item{
    margin: 10px;
}